*{
  margin: 0px;
}

header{
  display: block;
  padding-top: 60px;
  padding-bottom: 80px;
}

#nav li{
  list-style-type: none;
  display: block;
  float: right;
  background-color: white;
  padding-right: 50px;
}

#nav li a{
  font-family: 'Fjalla One', sans-serif;
  display: block;
  text-decoration: none;
  color: #4a4444;
  font-size: 25px;
}

#logo{
  padding-top: 0px;
  float: left;
}

#nav li a:hover{
  transition: all .3s linear;
  -ms-transition: all .3s linear;
  color: #01397F;
}

html {
  box-sizing: border-box;
}

h3{
  font-family: 'Fjalla One', sans-serif;
  font-size: 40px;
  color: #4a4444;
  text-align: center;
}

#body-container{
  display: block;
  text-align: center;
  padding-top: 125px;
  background-color: #F4F4F4;
  color: #4a4444;
}

#buffalo-icon{
  width: 60px;
  display: block;
  float: left;
  padding-right: 20px;
}

footer{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  background-color: white;
  color: #4a4444;
  padding: 60px;
  padding-left: 70px;
  position: static;
}

#bar{
  color: white;
  font-size: x-small;
}

/* reach page */
#reach-paragraph{
  font-family: 'Roboto Condensed', sans-serif;
  text-align: left;
  padding: 30px;
  font-size: large;
  padding-bottom: 125px;
}

/* reach page */
#right{
  display: block;
  padding-right: 300px;
  padding-left: 300px;
}

/* reach page */
#left{
  display: block;
  padding-left: 300px;
}

/* reach page */
#left-image{
  width: 40%;
  height: 40%;
  float: left;
  padding: 30px;
}

/* products page */
#products-paragraph{
  background-color: #F4F4F4;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: large;
  text-align: left;
  padding-right: 300px;
  padding-left: 300px;
  padding-bottom: 125px;
}

/* products page */
.gallery-container {
  width: 60%;
  margin: 2rem auto; 
  padding-bottom: 125px;
}

/* products page */
.gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  grid-gap: 1.5rem; 
}

/* products page */
.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block; 
}

/* products page */
.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

/* products page */
.gallery__item--2 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
}

/* products page */
.gallery__item--3 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 6;
}

/* products page */
.gallery__item--4 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 6;
}

/* products page */
.gallery__item--5 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 6;
  grid-row-end: 9;
}

/* products page */
.gallery__item--6 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 6;
  grid-row-end: 9;
}


/* reach page */
a {
    text-decoration: none;
}

/* reach page */
.made {
    display: block;
    color: #f2f2f2;
    font-size: 0.75rem;
    text-align: center;
}
 
/* reach page */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #F4F4F4;
}
 
/* reach page */
.container__progressbars {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    min-width: 270px;
    width: 100%;
    min-height: 100%;
}
 
/* reach page */
.progressbar {
    position: relative;
    width: 170px;
    height: 170px;
    margin: 1em;
    transform: rotate(-90deg);
}
 
/* reach page */
.progressbar__svg {
    position: relative;
    width: 100%;
    height: 100%;
}
 
/* reach page */
.progressbar__svg-circle {
    width: 100%;
    height: 100%;
    fill: none;
    stroke-width: 10;
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
    stroke: white;
    stroke-linecap: round;
    transform: translate(5px, 5px);
}
 
/* reach page */
.shadow-html {
    filter: drop-shadow(0 0 5px #cfcfcf);
}
 
/* reach page */
.circle-html {
    -webkit-animation: anim_circle-html 1s ease-in-out forwards;
            animation: anim_circle-html 1s ease-in-out forwards;
}
 
/* reach page */
.progressbar__text {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 0.25em 0.5em;
    color: #4a4444;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 40px;
    border-radius: 0.25em;
    transform: translate(-50%, -50%) rotate(90deg);
}

/* reach page */
#progress{
  position: absolute;
  margin-top: -35%;
}

/* reach page */
#progress-header{
  position: absolute;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: large;
  margin-top: -28%; 
  color: #4a4444;
}

/* reach page */
#progress-sentence{
  position: absolute;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: large;
  margin-top: 35%; 
  color: #4a4444; 
  padding-left: 300px;
  padding-right: 300px;
}
 
/* reach page */
/* amount of progress */
@-webkit-keyframes anim_circle-html {
    to {
        stroke-dashoffset: 180;
    }
}
 
@keyframes anim_circle-html {
    to {
        stroke-dashoffset: 180;
    }
}
